.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    background-color: #fff;
    border: 5px solid #ccc;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    margin-right: 5px;
    transition: all 0.3s ease;
  }
  
  .pagination-button:hover {
    background-color: #a2a2a2;
    color: #fff;
  }
  
  .pagination-button:focus {
    outline: none;
  }
  
  .buttonActive {
    background-color: #333;
    color: #fff;
  }
  